spring:
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    clean-disabled: false
  main:
    allow-bean-definition-overriding: true

app:
  api-key: test-key
  frontend-url: http://localhost:5173