name: Post Merge Workflow

on:
  push:
    branches:
      - main

jobs:
  create_tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.MY_GITHUB_ACTIONS_BRIDGE_PAT }}

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_ACTIONS_BRIDGE_PAT }}
          DEFAULT_BUMP: patch
          TAG_PREFIX: v
